name: air-lab/eslint-config

permissions:
  contents: read

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  publish-github:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org/"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://npm.pkg.github.com"
          scope: "@air-lab"
      - name: Publish to GitHub Packages
        run: pnpm publish --no-git-checks --registry=https://npm.pkg.github.com
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npmjs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org/"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile

      - name: Publish to npmjs via OIDC
        run: npm publish --access public --provenance
